{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span9">
                <a href ="" >Top Stories</a> &nbsp &nbsp &nbsp &nbsp 
                <a href ="" >Most Recent</a>
            </div>
            <div class="span3">
             <p><a href ="" >Unanswered Questions</a></p>
             <p><a href ="" >Write Reviews</a></p>
             <p><a href ="" >Views</a></p>
             <p><a href ="" >Notifications</a> </p>
             <p><a href ="" >Inbox </a></p>
             <p><a href ="" >Invite Friends to Quora</a></p>
            </div>
        </div>
    </div>




{% endblock  %}
